.eventFiltersContainer {
    width: calc(100% - var(--space-m) * 2);
    position: sticky;
    top: var(--space-m);
    padding: var(--space-m);

    background: var(--bg-color-main);
    clip-path: var(--clip-path-bento-2);
}

.eventFiltersContainer h4 {
    font-size: var(--title-s);
    margin: 0;
}

.eventFiltersContainer form {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.eventFiltersContainer label {
    font-size: var(--text-m);
    display: block;
    margin-right: 10px;
    cursor: pointer;
    width: 50%;
}

.radio {
    display: flex;
    padding: 0 var(--space-s);
}

.radio input {
    filter: grayscale(200%);
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.searchButton {
    border: none;
    background-color: var(--bg-color-black);
    font-family: inherit;
    color: white;
    height: calc(100% - 10px);
    padding: 5px 7px;
    clip-path: var(--clip-path-bento-3);
    cursor: pointer;
    transition: all var(--transition-duration);
}

.searchButton:hover {
    background-color: rgb(42, 42, 42);
}

.search {
    display: flex;
    flex-direction: column;
}
.search div {
    display: flex;
    align-items: center;
    margin-top: var(--space-s);
    gap: var(--space-s);
}

.search input {
    font-size: var(--text-m);
    width: 60%;
}

@media (max-width: 900px) {
    .radio label {
        width: fit-content;
    }

    .nav {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .radio {
        border-right: 1px solid black;
    }

    .radio:last-child {
        border-right: none;
    }

    .search input {
        width: 100%;
    }
}
