.eventsContainer {
    padding: var(--header-height) var(--space-m) var(--space-l) var(--space-m);
    min-height: calc(100svh - var(--header-height) - var(--space-l));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-m);
}

.eventsContent {
    display: flex;
    gap: var(--space-m);
    width: 100%;
    margin-top: var(--space-m);
}

.eventList {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--space-l);
}

.eventFilters {
    width: 300px;
}

@media (max-width: 900px) {
    .eventsContent {
        flex-direction: column;
        gap: var(--space-l);
    }

    .eventsContainer h2 {
        text-align: center;
    }

    .eventList {
        width: 100%;
    }

    .eventFilters {
        width: 100%;
    }
}
