.authContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: calc(14svh + var(--space-m)) var(--space-m) var(--space-m)
        var(--space-m);
    height: 70svh;
    background-image: url("/hero.png");
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 500px;
    background: var(--border-colorful);
    clip-path: var(--clip-path-connect);
}

.form {
    background-color: var(--bg-color-black);
    clip-path: var(--clip-path-connect-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - var(--space-l) - var(--space-xl));
    width: calc(100% - var(--space-m) * 2);
    padding: var(--space-l) var(--space-m) var(--space-xl) var(--space-m);
    gap: var(--space-m);
}

.form p {
    margin: 0 0 var(--space-m) 0;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
    }

    .form a {
        font-size: var(--space-s);
    }
}
