@import "styles/theme.css";

body {
    max-width: 1900px;
    overflow-x: hidden;
    padding: 0 var(--space-m);
    margin: 0;
    background-color: var(--bg-color-secondary);
}

body::selection {
    color: var(--bg-color-black);
    background: var(--bg-color-main);
}
