@import "styles/theme.css";
@import "styles/clipPaths.css";

body {
    max-width: 1900px;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: var(--bg-color-secondary);
}

body::selection {
    color: var(--bg-color-black);
    background: var(--bg-color-main);
}

.under-development {
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
