.header {
    position: fixed;
    display: flex;
    z-index: 10000;
    background-color: transparent;
    align-items: center;
    height: 14svh;
    justify-content: space-between;
    max-width: 1900px;
    width: 100%;
    transform: translateY(0%);
    transition: all var(--transition-duration);
}

.forLandingPage h1 {
    transform: translateX(80px) !important;
    transition: all var(--transition-duration);
}

.header:global(.headerHidden) {
    transform: translateY(-200%);
}

.header:global(.headerFilled) {
    background-color: var(--bg-color-black);
}

.header:global(.headerFilled) h1 {
    transform: translateX(0);
}

.brand {
    display: flex;
    color: white;
    gap: 50px;
    text-transform: uppercase;
    align-items: center;
    margin-left: var(--space-m);
}

.brand h1 {
    transform: translateX(0px);
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: var(--space-m);
}

@media (max-width: 900px) {
    .nav > a {
        display: none;
    }

    .nav > button {
        display: none;
    }
}

@media (max-width: 500px) {
    .forLandingPage h1 {
        transform: translateX(50px);
        font-size: 25px;
    }
}
