:root {
    --bg-color-main: #dbff29ff;
    --bg-color-main-hover: rgb(234, 255, 127);
    --bg-color-secondary: #181818;
    --bg-color-black: #000000;

    --text-color-main: #fcfff0;
    --text-color-secondary: #c6c7c0;
    --text-color-dark: rgb(92, 92, 92);
    --text-s: 12px;
    --text-m: 17px;
    --text-l: 60px;

    --border-dark: #404244;
    --border-colorful: linear-gradient(
        150deg,
        rgba(200, 200, 200, 1) 0%,
        rgba(200, 200, 200, 1) 26%,
        rgba(219, 255, 41) 100%
    );

    --space-s: 10px;
    --space-m: 20px;
    --space-l: 50px;

    --break-s: 400px;
    --break-m: 900px;

    --transition-duration: 0.3s;

    --clip-path-1: polygon(
        0 10%,
        5% 0%,
        35% 0,
        35% 10%,
        56% 10%,
        63% 0%,
        75% 0,
        75% 10%,
        100% 10%,
        100% 90%,
        95% 100%,
        0 100%
    );
    --clip-path-1-shadow: polygon(
        calc(0% + 2px) calc(10% + 2px),
        calc(5% + 2px) calc(0% + 2px),
        calc(35% - 2px) calc(0% + 2px),
        calc(35% - 2px) calc(10% + 2px),
        calc(56% + 2px) calc(10% + 2px),
        calc(63% + 2px) calc(0% + 2px),
        calc(75% - 2px) calc(0% + 2px),
        calc(75% - 2px) calc(10% + 2px),
        calc(100% - 2px) calc(10% + 2px),
        calc(100% - 2px) calc(90% - 2px),
        calc(95% - 2px) calc(100% - 2px),
        calc(0% + 2px) calc(100% - 2px)
    );
}
